<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" routerLink="dashboard">Hr Control Panel</a>
              </div>
            <ul class="nav navbar-nav">
                <li><a routerLink="dashboard">Dashbaord</a></li>
                <li><a routerLink="candidate">Candidates</a></li>
                <li><a routerLink="job">Jobs</a></li>
                <li><a routerLink="invoice">Invoice</a></li> 
               </ul>

              
              </nav>
    </div>
</div>