<!-- <p>dashboard works!</p> -->
<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">Dashboard, Welcome Hr</h3>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="well text-primary">
                    <a routerLink="/candidate">
						<i class="fa fa-users fa-2x"></i> <br> 
						Candidates
					</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="well text-success">
                    <i class="fa fa-laptop fa-3x"></i> <br> Vacancies
                </div>
            </div>

            <div class="col-md-4">
                <div class="well text-info">
                    <a routerLink="/invoice">
                        <i class="fa fa-file fa-3x"></i> <br> 
                        Invoice
						
					</a>
                   
                </div>
            </div>
     </div>
    </div> <!--col-md-10 close here-->

    <div class="col-md-1"></div>

 </div> <!--row ends here-->

   <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
        <div class="row text-center">
            

            <div class="col-md-4">
                <div class="well text-info">
                    
                 <i class="fa fa-arrow-right fa-3x text-warning"></i> Sent Profile 
                
                </div>
            </div>

            <div class="col-md-4">
                <div class="well text-info">
                   
                 <i class="fa fa-user-plus fa-3x"></i> New Profile 
                   
                </div>
            </div>


            <div class="col-md-4">
                <div class="well text-info">
             <i class="fa fa-location-arrow fa-3x text-warning"></i> Share Profile 
                </div>
            </div>
        </div>
 </div> <!--col-md-10 close here-->

    <div class="col-md-1"></div>
   </div>
</div>